#watch {
    min-height: 100vh;
    padding-top: 6%;
}

#watch h2 {
    color: #69443c;
    font-family: 'the_seasonsregular';
    border-left: 1px solid #69443c;
    padding-left: 10px;
}

.watch-blue {
    background-color: #0e1323;
    padding: 2% 0;
}

.watch-blue h2 {
    color: #dbc4bc !important;
    border-left: 1px solid #dbc4bc !important;
}

.controls-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.controls-top a {
    color: white !important;
}

.multi-item-example {
    margin-left: 50px !important;
  margin-right: 50px !important;
}

.carousel-control-prev {
    margin-left: -100px;
}

.carousel-control-next {
    margin-right: -100px;
}