#main-section {
    /* background-color: var(--yellow-bg-color); */
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 1s ease infinite; */
    min-height: 100vh;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
}

.content {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}

.main-section-content {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: center;
}

.main-section-content h1 {
    font-family: 'the_seasonsbold';
    color: #EEEEEE;
    letter-spacing: 1.5px;
    
}

.img-div {
    min-height: 90vh;
    overflow: hidden;
    background: url("../../../public/images/bgmusic.png") no-repeat 60% 50% fixed;
    background-size: auto;
}

.img-div img {
    position: absolute;
    bottom: 0;
    right: -5%;
}

.writing-wrapper {
    display: flex;
}

.writing-wrapper .static-txt {
    color: var(--black);
    font-size: 60px;
    /* font-weight: bold; */
}

.writing-wrapper .dynamic-txt {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

ul.dynamic-txt {
    padding: 0;
}

.dynamic-txt li {
    list-style: none;
    color: var(--pink);
    font-size: 60px;
    font-weight: bold;
    top: 0;
    position: relative;
    animation: slide 9s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -270px;
    }
}

.dynamic-txt li {
    position: relative;
}

.dynamic-txt li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ebddd0;
    border-left: 3px solid #273F61;
    animation: myTyping 3s steps(10) infinite;
}

@keyframes myTyping {
    40%,
    60% {
        left: calc(100% + 20px);
    }
    100% {
        left: 0;
    }
}

h4.tagline {
    color: #E2DEA9;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.2rem;
    font-weight: 400;
}

a.social-box {
    padding: 10px 15px;
    color: #EEEEEE;
}

.social-box:first-child {
    padding-left: 0;
}

a.social-box:hover {
    color: #D18CE0;
}

.btn-main-page {
    background-color: #0e1323 !important;
    border: 1px solid #0e1323 !important;
    padding: 4px 40px 4px 30px !important;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}


