#main-section {
    background-color: var(--yellow-bg-color);
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 1s ease infinite; */
    min-height: 90vh;
}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

.main-section-content {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: center;
}

.img-div {
    min-height: 90vh;
    overflow: hidden;
    background: url("../../../public/images/bgmusic.png") no-repeat 60% 50% fixed;
    background-size: auto;
}

.img-div img {
    position: absolute;
    bottom: 0;
    right: -5%;
}

.writing-wrapper {
    display: flex;
}

.writing-wrapper .static-txt {
    color: var(--black);
    font-size: 60px;
    /* font-weight: bold; */
}

.writing-wrapper .dynamic-txt {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

ul.dynamic-txt {
    padding: 0;
}

.dynamic-txt li {
    list-style: none;
    color: var(--pink);
    font-size: 60px;
    font-weight: bold;
    top: 0;
    position: relative;
    animation: slide 9s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -270px;
    }
}

.dynamic-txt li {
    position: relative;
}

.dynamic-txt li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ebddd0;
    border-left: 3px solid #273F61;
    animation: myTyping 3s steps(10) infinite;
}

@keyframes myTyping {
    40%,
    60% {
        left: calc(100% + 20px);
    }
    100% {
        left: 0;
    }
}

h4.tagline {
    color: var(--dark-light);
    font-weight: 500;
}

a.social-box {
    padding: 10px;
    color: var(--dark-light);
}

.social-box:first-child {
    padding-left: 0;
}

a.social-box:hover {
    color: var(--purple);
}

.subscribe-input {
    border-radius: 0;
    background-color: transparent;
    border: 2px solid var(--purple) !important;
    border-right: 0 !important;
}

.subscribe-button {
    border-radius: 0;
    background: var(--purple);
    border: 0;
    border-left: 2px solid var(--purple);
    font-weight: 500;
    letter-spacing: 0.5pt;
}


