#main-section-new {
    /* background-color: var(--yellow-bg-color); */
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 1s ease infinite; */
    min-height: 100vh;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
}

.content {
    /* position: absolute;
    top: 0; */
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
} 

@media only screen and (max-width: 600px) {
    #myVideo {
        background-image: linear-gradient(red, yellow);
    }
    .content {
        margin-top: 120px;
        background-image: linear-gradient(#0c0b09, #0c0b09);
        padding-bottom: 50px;
    }
}

.main-section-content {
    display: flex;
    flex-direction: column;
    /* min-height: 90vh; */
    justify-content: center;
}

.main-section-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section-content h1 {
    font-family: 'the_seasonsbold';
    color: #EEEEEE;
    letter-spacing: 1.5px;
    
}

.img-div {
    min-height: 90vh;
    overflow: hidden;
    background: url("../../../public/images/bgmusic.png") no-repeat 60% 50% fixed;
    background-size: auto;
}

.img-div img {
    position: absolute;
    bottom: 0;
    right: -5%;
}

.writing-wrapper {
    display: flex;
}

.writing-wrapper .static-txt {
    color: var(--black);
    font-size: 60px;
    /* font-weight: bold; */
}

.writing-wrapper .dynamic-txt {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

ul.dynamic-txt {
    padding: 0;
}

.dynamic-txt li {
    list-style: none;
    color: var(--pink);
    font-size: 60px;
    font-weight: bold;
    top: 0;
    position: relative;
    animation: slide 9s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -270px;
    }
}

.dynamic-txt li {
    position: relative;
}

.dynamic-txt li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ebddd0;
    border-left: 3px solid #273F61;
    animation: myTyping 3s steps(10) infinite;
}

@keyframes myTyping {
    40%,
    60% {
        left: calc(100% + 20px);
    }
    100% {
        left: 0;
    }
}

h4.tagline {
    color: #DBC4BC;
    /* font-family: 'Montserrat', sans-serif !important; */
    font-family: 'the_seasonslight';
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
}

a.social-box {
    padding: 10px 15px;
    color: #E2DEA9;
}

.social-box:first-child {
    padding-left: 0;
}

a.social-box:hover {
    color: white;
}

@media only screen and (max-width: 600px) {
    a.social-box {
        padding: 10px 5px;
        color: #E2DEA9;
    }
    .social-box:first-child {
        padding-left: 0;
    }
}

.btn-main-page {
    color: #42373B;
    background-color: #E5E1C4 !important;
    border: 1px solid #E5E1C4 !important;
    padding: 5px 40px !important;
    border-radius: 40px;
    font-family: 'the_seasons' !important;
    font-size: 1.2rem !important;
}

.btn-main-page:hover {
    background-color: white !important;
    border: 1px solid white !important;
    color: #0e1323 !important;
}

/* .subscribe-button {
    font-family: 'the_seasonslight' !important;
    letter-spacing: 1px;
} */

.outnow-heading {
    font-weight: bold;
    color: #E5E1C4;
}

#latest-release {
    background-color: black;
    border-radius: 50px;
}

/* #latest-release img {
    object-fit: cover;
} */

h2.ltr-title {
    font-family: 'the_seasonsbold' !important;
    color: #E5E1C4;
    letter-spacing: 0.7px;
}


