#music {
    min-height: 100vh;
    padding: 10% 0;
    /* background: linear-gradient(-45deg, #fed5db, #e5d8f3, #b0d8e7, #e7dda1); */
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
}
#music {
    background-color: #dbd5ce;
}

#music h1 {
    color: #69443c;
    font-family: 'the_seasonsregular';
    border-left: 1px solid #69443c;
    padding-left: 10px;
}

.card {
    background-color: transparent !important;
    border: 0 !important;
}

.music-period {
    color: #6f42c1;
}

.music-item {
    background: rgba(0,0,0,0.1);
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
}

.music-item:hover {
    border-left: 3px solid black;
}


/* New Design */
.card {
    overflow: hidden;
}

.card-img-top {
    filter: brightness(100%);
    transition: all 0.5s ease;
    
}

.card-img-top:hover {
    filter: brightness(50%);
    cursor: pointer;
}


.music-title {
    color: #69443c !important;
}