#about {
    min-height: 100vh;
    background-color: #0E1323;
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-sub-heading {
    /* font-size: 1.6rem; */
    color: var(--pink);
    /* font-weight: bold; */
    /* font-family: 'Lancelot', cursive; */
}

.about-heading {
    font-family: 'the_seasonsregular';
    color: #dbc4bc;
    /* border-left: 1px solid #dbc4bc;
    padding-left: 10px; */
}

.period {
    color: #6f42c1;
}

#about p {
    color: #dbd5ce;
    font-size: 1.4em;
    font-family: 'the_seasonsregular';
    letter-spacing: 1.5px;
}

#about .btn-primary {
    font-family: 'the_seasonsregular';
    background-color: #808275;
    border-color: #808275;
    border-radius: 40px;
    padding: 10px 20px;
    letter-spacing: 1.2px;
}

#about .btn-primary:hover {
    background-color: white;
    border-color: white;
    color: #30334b !important;
}

.about-img {
    border-radius: 50px !important;
}

@media only screen and (max-width: 600px) {
    .about-img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: 0% 50%;
        margin-bottom: 20px;
    }
}