#contact {
    background: #f9f9f9;
    padding: 5% 0;
}

.reach {
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--dark-light);
}

.contact-frizzell {
    font-weight: bold;
    font-size: 3.5em;
    color: var(--pink);
}

/* #6f42c1 */

.getintouch {
    background-color: #6f42c1;
    font-size: 6rem;
    font-weight: bold;
    padding: 5%;
    color: white;
}

/* .touch-right {
    background-color: gray;
} */

.social-links {
    display: flex;
    flex-direction: row;
}

.social-links a {
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center; 
    background-color: lightblue;
    flex-direction: row;
    margin-right: 10px;
}
/* .social-links a{
    display: block;
    float: left;
    width:50px;
    height: 50px;
    border: 2px solid #909090;
    margin-right: 7px;
    text-align:center;
}  */

.social-links a i{
    font-size: 100px;
    display: inline-block;
    position: relative;
}