#contact {
    min-height: 100vh;
    background: #f9f9f9;
    /* padding: 5% 0; */
}

@media only screen and (max-width: 600px) {
    #contact {
        min-height: auto;
        padding: 10% 0;
    }
}

.contact-content {
    min-height: 50vh;
    padding: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contact-getintouch {
    font-family: 'the_seasonsregular';
    /* font-weight: bold; */
    font-size: 8rem;
    color: #30334b !important;
}

@media only screen and (max-width: 600px) {
    .contact-getintouch{
        font-size: 5rem !important;
    }
}

#contact p {
    font-family: 'the_seasonsregular';
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

#contact h4 {
    font-family: 'the_seasonslight';
    font-weight: bold;
    letter-spacing: 1px;
    color: #735440;
}

@media only screen and (max-width: 600px) {
    #contact p {
        text-align: center;
        font-family: 'the_seasonsregular';
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 1.5px;
    }
}

/* Social Media link styling */
#contact a.social-box {
    padding: 10px 15px;
    color: #30334b;
}

#contact .social-box:first-child {
    padding-left: 0;
}

#contact a.social-box:hover {
    color: #42373b;
}