.navbar-brand {
    /* padding: 5px 15px; */
    /* border: 2px solid #EEEEEE; */
    font-weight: 800;
    color: #EEEEEE !important;
    font-size: 1.5rem;
}

.bg-dark {
    background-color: var(--black) !important;
}

.nav-link {
    padding: 0 20px !important;
    font-weight: 500;
}

.nav-item:hover {
    transition: all 2s ease-in-out;
}

.navbar-nav li > a:hover {
    border-bottom: 2px solid #8ccfbc;
}

.navbar-nav .active>.nav-link {
    font-weight: bold !important;
    border-bottom: 2px solid #EEEEEE;
}