#gallery {
    min-height: 100vh;
    padding: 7% 0;
}

@media only screen and (max-width: 600px) {
    #gallery {
        min-height: auto;
        padding: 15% 0;
    }
}

#gallery h2 {
    color: #69443C;
    font-family: 'the_seasonsregular';
    /* border-left: 1px solid #69443c;
    padding-left: 10px; */
}

.img-holder {
    overflow: hidden;
}

#gallery img {
    height: 250px;
    max-height: 300px;
    transition: all 0.2s;
    width: 100%;
    object-fit: cover;
    object-position: 0% 10%;
}

#gallery img:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    #gallery img {
        height: 150px;
        max-height: 150px;
    }
}