html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  max-width: 100% !important;
}

body {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  max-width: 100% !important;
}

.montserrat {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
}

:root {
  --black: #091023;
  --pink: #fed5db;
  --yellow: #ffdfc0;
  --green: #c0eade;
  --blue: #b5e3f3;
  --purple: #d0d4f9;

  --dark-light: #273F61;

  --yellow-bg-color: #ebddd0;

}